@charset "utf-8";

@media (min-width: 1281px) {
  #root.container {
    font-size: 14px;
  }
  #root h1 {
    padding: 10px;
  }
  #root h2 {
    padding: 5px 10px 5px 0;
    border-bottom-width: 1px;
  }
  #root h3 {
    padding: 5px 10px 5px 0;
    border-bottom-width: 1px;
  }
  #root header {
    border-bottom-width: 1px;
    box-shadow: 0 1px 5px rgb(68, 68, 68);
  }
  #root header menu a {
    padding: 10px;
  }
  #root aside {
    padding-top: 5px;
    border-right-width: 1px;
  }
  #root aside menu a {
    padding: 5px 10px;
    border-bottom-width: 1px;
  }
  #root section {
    padding: 5px 10px 10px;
  }
  #root article {
    padding-bottom: 10px;
    border-bottom-width: 1px;
  }
  #root table {
    margin-top: 10px;
  }
  #root caption {
    padding: 5px 10px;
    border-width: 1px;
  }
  #root thead th {
    padding: 5px 10px;
    border-width: 1px;
  }
  #root thead th:nth-child(1) {
    width: 120px;
  }
  #root tbody th {
    padding: 5px 10px;
    border-width: 1px;
  }
  #root tbody td {
    padding: 5px 10px;
    border-width: 1px;
  }
  #root .link-right {
    padding: 5px 0;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {}