html, body{margin:0;padding:0;}

.game-wrap{position:absolute;top:0;left:0;width:100%;height:100%;}
.game-wrap *{box-sizing:border-box;}
.game-wrap img{width:100%;}

.user-wrap{position:relative;width:100%;height:30px;}
.user-inner{display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.user-score{display:block;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;}

.time-wrap{position:relative;width:100%;height:30px;}
.time-inner{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#eee;}
.time-line{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#ccc;z-index:0;}
.time-text{display:block;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;line-height:30px;z-index:1;}

.list-wrap{position:relative;width:100%;height:30px;}
.list-inner{}
.list-item.C01{}
.list-item.C02{}
.list-item.C03{}
.list-item.C04{}
.list-item.C05{}
.list-item.C06{}

.view-wrap{}
.view-inner{}
.view-item.C01{}
.view-item.C02{}
.view-item.C03{}
.view-item.C04{}
.view-item.C05{}
.view-item.C06{}

.ctlr-wrap{position:fixed;bottom:0;left:0;width:100%;height:auto;}
.ctlr-inner{}
.ctlr-item.C01{}
.ctlr-item.C02{}
.ctlr-item.C03{}
.ctlr-item.C04{}
.ctlr-item.C05{}
.ctlr-item.C06{}

.layer-wrap{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;}
.layer-inner{position:absolute;top:0;left:0;width:100%;height:100%;z-index:110;}
.layer-modal{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.8;z-index:100;}
.layer-item{position:absolute;top:0;left:0;width:100%;height:auto;color:#fff;}
.layer-item.load{}
.layer-item.init{}
.layer-item.count{}
.layer-item.delay{}
.layer-item.close{}