@charset "utf-8";

/* common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline; box-sizing:border-box;}

* {margin:0; padding:0; -webkit-text-size-adjust:none;} /* 아이폰 가로모드시 글씨 커지는 문제 */

a {color:inherit; text-decoration:none;}
a:link, a:hover {text-decoration:none;}
i, em {font-style:normal;}
sub, sup {line-height:0;}
sup {vertical-align:super !important;}
img, fieldset {vertical-align:top;}

h1,
h2,
h3,
h4,
h5,
h6 {color:inherit;}

button {display:inline-block; border:0; background-color:transparent; font-family:'Roboto', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-size:16px; text-align:center; cursor:pointer; overflow:visible; -webkit-appearance:button;}

a, button,
[role=button], [role=link], [role=tab] {outline:none; -webkit-touch-callout:none;}

ol, ul, li {list-style:none;}
blockquote, q {quotes:none;}

table {width:100%; border-collapse:collapse; border-spacing:0; font-size:0.875rem;}
th, td {vertical-align:middle;}

caption, legend {position:absolute; top:0; left:0; width:0; height:1px; font-size:0; overflow:hidden;}
fieldset, legend {border:0; background-color:transparent;}

hr {height:1px; margin:20px 0 13px; border:0; background-color:transparent;}
hr.small {margin:10px 0 10px;}
hr.line {border-top:2px solid #f9f9f9; margin:15px -15px;}

/* 아이폰 input 박스선 없애기 */
input:not([type=checkbox]):not([type=radio]):not([type=range]),
select,
textarea {appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0;}

input:not([type=checkbox]):not([type=radio]):not([type=range]),
select,
textarea {width:100%; border:1px solid #fff; background-color:#fff; color:#222; font-family:'Roboto', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-size:15px; font-weight:500; line-height:1.5; vertical-align:middle; box-sizing:border-box; transition:border-color ease-in-out 0.225s; -webkit-transition:border-color ease-in-out 0.225s;}
select {background:transparent url(../img/ico_select.png) no-repeat right center; background-size:30px 55px;}
textarea {padding:18px 15px; color:#666; font-size:14px; line-height:1.4; resize:none;}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display: none;}

input:not([type=checkbox]):not([type=radio])::placeholder,
select::placeholder,
textarea::placeholder {color:#888; font-size:0.875rem; font-weight:400; opacity:1;}
input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#888; font-size:0.875rem; font-weight:400; opacity:1;}
input:not([type=checkbox]):not([type=radio])::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {color:#888; font-size:0.875rem; opacity:1;}
input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:#888; font-size:0.875rem; font-weight:400; opacity:1;}

input::placeholder {text-align:left !important;}
input::-webkit-input-placeholder {text-align:left !important;}
input:-ms-input-placeholder {text-align:left !important;}

input:not([type=checkbox]):not([type=radio]):focus,
select:focus,
textarea:focus {border:1px solid #0072ff; z-index:1; outline:rgba(0,0,0,0);}

input:not([type=checkbox]):not([type=radio]):focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color:#222; opacity:0;}
input:not([type=checkbox]):not([type=radio]):focus::-moz-placeholder,
select:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {color:#222; opacity:0;}
input:not([type=checkbox]):not([type=radio]):focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {color:#222; opacity:0;}

input:not([type=checkbox]):not([type=radio]):disabled,
select:disabled,
textarea:disabled {border:#ddd; background-color:#ddd; color:#888;}
input:not([type=checkbox]):not([type=radio])[readonly],
select[readonly],
textarea[readonly] {border:#ddd; background-color:#ddd; color:#666;}

input:not([type=checkbox]):not([type=radio]).error,
textarea.error {border-color:#ff4646;}
input:not([type=checkbox]):not([type=radio]).success,
textarea.success {border-color:#0072ff;}

select::-ms-expand {display:none;}