<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI GUIDE</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../lib/prism/prism.okaidia.css">

  <script src="../../lib/jquery/jquery-3.5.1.min.js"></script>
  <script src="../../lib/lodash.min.js"></script>
  <script src="../../lib/moment/moment.min.js"></script>
  <script src="../../lib/anime.js/anime.min.js"></script>
  <script src="../../lib/gsap/gsap.min.js"></script>
  <script src="../../lib/prism/prism.js"></script>
</head>
<body>
  <div class="guide-container">
    <main class="guide-main">
      <section class="guide-main__content">
        <h2 class="guide-content__title">Button</h2>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <button class="button--primary">primary</button>
              <button class="button--secondary">secondary</button>
              <button class="button--success">success</button>
              <button class="button--danger">danger</button>
              <button class="button--warning">warning</button>
              <button class="button--info">info</button>
              <button class="button--light">light</button>
              <button class="button--dark">dark</button>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <button class="button--primary">primary</button>
                  <button class="button--secondary">secondary</button>
                  <button class="button--success">success</button>
                  <button class="button--danger">danger</button>
                  <button class="button--warning">warning</button>
                  <button class="button--info">info</button>
                  <button class="button--light">light</button>
                  <button class="button--dark">dark</button>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button - Disabled</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <button class="button--primary" disabled>primary</button>
              <button class="button--secondary" disabled>secondary</button>
              <button class="button--success" disabled>success</button>
              <button class="button--danger" disabled>danger</button>
              <button class="button--warning" disabled>warning</button>
              <button class="button--info" disabled>info</button>
              <button class="button--light" disabled>light</button>
              <button class="button--dark" disabled>dark</button>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <button class="button--primary" disabled>primary</button>
                  <button class="button--secondary" disabled>secondary</button>
                  <button class="button--success" disabled>success</button>
                  <button class="button--danger" disabled>danger</button>
                  <button class="button--warning" disabled>warning</button>
                  <button class="button--info" disabled>info</button>
                  <button class="button--light" disabled>light</button>
                  <button class="button--dark" disabled>dark</button>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button - Anchor</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <a href="#" class="button--primary" role="button"><span>primary</span></a>
              <a href="#" class="button--secondary" role="button"><span>secondary</span></a>
              <a href="#" class="button--success" role="button"><span>success</span></a>
              <a href="#" class="button--danger" role="button"><span>danger</span></a>
              <a href="#" class="button--warning" role="button"><span>warning</span></a>
              <a href="#" class="button--info" role="button"><span>info</span></a>
              <a href="#" class="button--light" role="button"><span>light</span></a>
              <a href="#" class="button--dark" role="button"><span>dark</span></a>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <a href="#" class="button--primary" role="button"><span>primary</span></a>
                  <a href="#" class="button--secondary" role="button"><span>secondary</span></a>
                  <a href="#" class="button--success" role="button"><span>success</span></a>
                  <a href="#" class="button--danger" role="button"><span>danger</span></a>
                  <a href="#" class="button--warning" role="button"><span>warning</span></a>
                  <a href="#" class="button--info" role="button"><span>info</span></a>
                  <a href="#" class="button--light" role="button"><span>light</span></a>
                  <a href="#" class="button--dark" role="button"><span>dark</span></a>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button - Small</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <button class="button-small--primary">primary</button>
              <button class="button-small--secondary">secondary</button>
              <button class="button-small--success">success</button>
              <button class="button-small--danger">danger</button>
              <button class="button-small--warning">warning</button>
              <button class="button-small--info">info</button>
              <button class="button-small--light">light</button>
              <button class="button-small--dark">dark</button>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <button class="button-small--primary">primary</button>
                  <button class="button-small--secondary">secondary</button>
                  <button class="button-small--success">success</button>
                  <button class="button-small--danger">danger</button>
                  <button class="button-small--warning">warning</button>
                  <button class="button-small--info">info</button>
                  <button class="button-small--light">light</button>
                  <button class="button-small--dark">dark</button>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button - Block</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <button class="button-block--secondary">secondary</button>
              <button class="button-block--primary">primary</button>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <button class="button-block--secondary">secondary</button>
                  <button class="button-block--primary">primary</button>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button - Group</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <div class="button-group">
                <button class="button-flex--secondary">secondary</button>
                <button class="button-flex--primary">primary</button>
              </div>

              <div class="button-group" style="margin-top:1rem">
                <button class="button--secondary">secondary</button>
                <button class="button-flex--primary">primary</button>
              </div>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <div class="button-group">
                    <button class="button-flex--secondary">secondary</button>
                    <button class="button-flex--primary">primary</button>
                  </div>
                  <div class="button-group">
                    <button class="button--secondary">secondary</button>
                    <button class="button-flex--primary">primary</button>
                  </div>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button - Icon</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <button class="button-icon"><i class="fas fa-times"></i></button>
              <button class="button-icon--primary"><i class="fas fa-times"></i></button>
              <button class="button-icon--secondary"><i class="fas fa-times"></i></button>
              <button class="button-icon--success"><i class="fas fa-times"></i></button>
              <button class="button-icon--danger"><i class="fas fa-times"></i></button>
              <button class="button-icon--warning"><i class="fas fa-times"></i></button>
              <button class="button-icon--info"><i class="fas fa-times"></i></button>
              <button class="button-icon--light"><i class="fas fa-times"></i></button>
              <button class="button-icon--dark"><i class="fas fa-times"></i></button>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <button class="button-icon"><i class="fas fa-times"></i></button>
                  <button class="button-icon--primary"><i class="fas fa-times"></i></button>
                  <button class="button-icon--secondary"><i class="fas fa-times"></i></button>
                  <button class="button-icon--success"><i class="fas fa-times"></i></button>
                  <button class="button-icon--danger"><i class="fas fa-times"></i></button>
                  <button class="button-icon--warning"><i class="fas fa-times"></i></button>
                  <button class="button-icon--info"><i class="fas fa-times"></i></button>
                  <button class="button-icon--light"><i class="fas fa-times"></i></button>
                  <button class="button-icon--dark"><i class="fas fa-times"></i></button>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* style */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

      </section>
    </main>
  </div>

  <script src="../../js/guide.js"></script>
  <script src="../../js/components.js"></script>
  <script>
    GUIDE.include.header();
    GUIDE.include.menu('C0301');
  </script>
</body>
</html>