<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI GUIDE</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../lib/prism/prism.okaidia.css">

  <script src="../../lib/jquery/jquery-3.5.1.min.js"></script>
  <script src="../../lib/lodash.min.js"></script>
  <script src="../../lib/moment/moment.min.js"></script>
  <script src="../../lib/anime.js/anime.min.js"></script>
  <script src="../../lib/gsap/gsap.min.js"></script>
  <script src="../../lib/prism/prism.js"></script>
</head>
<body>
  <div class="guide-container">
    <main class="guide-main">
      <section class="guide-main__content">
        <h2 class="guide-content__title">Collapse</h2>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Collapse - Default</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <ul class="collapse-default">
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_01_BUTTON" class="collapse-default__button" data-toggle="collapse" aria-controls="COLLAPSE_01_CONTENT" aria-expanded="true">
                    <span>Collapse Button</span>
                    <i class="icon-001" aria-hidden="true"></i>
                  </button>
                  <div id="COLLAPSE_01_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_01_BUTTON" aria-hidden="false">
                    <div style="padding:10px;">
                      Collapse Content
                    </div>
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_02_BUTTON" class="collapse-default__button" data-toggle="collapse" aria-controls="COLLAPSE_02_CONTENT" aria-expanded="false">
                    <span>Collapse Button</span>
                    <i class="icon-001" aria-hidden="true"></i>
                  </button>
                  <div id="COLLAPSE_02_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_02_BUTTON" aria-hidden="true">
                    <div style="padding:10px;">
                      Collapse Content
                    </div>
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_03_BUTTON" class="collapse-default__button" data-toggle="collapse" aria-controls="COLLAPSE_03_CONTENT" aria-expanded="false">
                    <span>Collapse Button</span>
                    <i class="icon-001" aria-hidden="true"></i>
                  </button>
                  <div id="COLLAPSE_03_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_03_BUTTON" aria-hidden="true">
                    <div style="padding:10px;">
                      Collapse Content
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <ul class="collapse-default">
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_01_BUTTON" class="collapse-default__button" data-toggle="collapse" aria-controls="COLLAPSE_01_CONTENT" aria-expanded="true">
                        <span>Collapse Button</span>
                        <i class="icon-001" aria-hidden="true"></i>
                      </button>
                      <div id="COLLAPSE_01_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_01_BUTTON" aria-hidden="false">
                        <div style="padding:10px;">
                          Collapse Content
                        </div>
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_02_BUTTON" class="collapse-default__button" data-toggle="collapse" aria-controls="COLLAPSE_02_CONTENT" aria-expanded="false">
                        <span>Collapse Button</span>
                        <i class="icon-001" aria-hidden="true"></i>
                      </button>
                      <div id="COLLAPSE_02_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_02_BUTTON" aria-hidden="true">
                        <div style="padding:10px;">
                          Collapse Content
                        </div>
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_03_BUTTON" class="collapse-default__button" data-toggle="collapse" aria-controls="COLLAPSE_03_CONTENT" aria-expanded="false">
                        <span>Collapse Button</span>
                        <i class="icon-001" aria-hidden="true"></i>
                      </button>
                      <div id="COLLAPSE_03_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_03_BUTTON" aria-hidden="true">
                        <div style="padding:10px;">
                          Collapse Content
                        </div>
                      </div>
                    </li>
                  </ul>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* default */
                  .collapse-default__content {
                    overflow: hidden;
                    height: 0;
                  }
                  .collapse-default__content[aria-hidden=false] {
                    height: auto;
                  }

                  /* max-height */
                  .collapse-default__content {
                    ...
                    max-height: 100px;
                  }
                  .collapse-default__content[aria-hidden=false] {
                    overflow-y: auto;
                    ...
                  }
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // # bind

                  UI.collapse.options({
                    selector: [String], // default : '[data-toggle="collapse"]'
                    duration: [Number] // default : 100
                  }).bind(); // required

                  //or

                  UI.collapse.bind('[data-toggle="collapse"]'); // required

                  //or

                  UI.collapse.bind(); // required

                  // # callback

                  UI.collapse.callback('before', function($button, $target){
                    console.log('callback before', $button, $target);
                  });

                  UI.collapse.callback('after', function($button, $target){
                    console.log('callback after', $button, $target);
                  });
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Collapse - Group</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <ul class="collapse-default">
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_04_BUTTON" class="collapse-default__button" data-toggle="collapse" data-group="COLLAPSE_GROUP_01" aria-controls="COLLAPSE_04_CONTENT" aria-expanded="true">
                    <span>Collapse Button</span>
                    <i class="icon-001" aria-hidden="true"></i>
                  </button>
                  <div id="COLLAPSE_04_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_04_BUTTON" aria-hidden="false">
                    <div style="padding:10px;">
                      Collapse Content
                    </div>
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_05_BUTTON" class="collapse-default__button" data-toggle="collapse" data-group="COLLAPSE_GROUP_01" aria-controls="COLLAPSE_05_CONTENT" aria-expanded="false">
                    <span>Collapse Button</span>
                    <i class="icon-001" aria-hidden="true"></i>
                  </button>
                  <div id="COLLAPSE_05_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_05_BUTTON" aria-hidden="true">
                    <div style="padding:10px;">
                      Collapse Content
                    </div>
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_06_BUTTON" class="collapse-default__button" data-toggle="collapse" data-group="COLLAPSE_GROUP_01" aria-controls="COLLAPSE_06_CONTENT" aria-expanded="false">
                    <span>Collapse Button</span>
                    <i class="icon-001" aria-hidden="true"></i>
                  </button>
                  <div id="COLLAPSE_06_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_06_BUTTON" aria-hidden="true">
                    <div style="padding:10px;">
                      Collapse Content
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <button class="guide-tab__button" data-lang="css">css</button>
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <ul class="collapse-default">
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_04_BUTTON" class="collapse-default__button" data-toggle="collapse" data-group="COLLAPSE_GROUP_01" aria-controls="COLLAPSE_04_CONTENT" aria-expanded="true">
                        <span>Collapse Button</span>
                        <i class="icon-001" aria-hidden="true"></i>
                      </button>
                      <div id="COLLAPSE_04_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_04_BUTTON" aria-hidden="false">
                        <div style="padding:10px;">
                          Collapse Content
                        </div>
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_05_BUTTON" class="collapse-default__button" data-toggle="collapse" data-group="COLLAPSE_GROUP_01" aria-controls="COLLAPSE_05_CONTENT" aria-expanded="false">
                        <span>Collapse Button</span>
                        <i class="icon-001" aria-hidden="true"></i>
                      </button>
                      <div id="COLLAPSE_05_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_05_BUTTON" aria-hidden="true">
                        <div style="padding:10px;">
                          Collapse Content
                        </div>
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_06_BUTTON" class="collapse-default__button" data-toggle="collapse" data-group="COLLAPSE_GROUP_01" aria-controls="COLLAPSE_06_CONTENT" aria-expanded="false">
                        <span>Collapse Button</span>
                        <i class="icon-001" aria-hidden="true"></i>
                      </button>
                      <div id="COLLAPSE_06_CONTENT" class="collapse-default__content" aria-labelledby="COLLAPSE_06_BUTTON" aria-hidden="true">
                        <div style="padding:10px;">
                          Collapse Content
                        </div>
                      </div>
                    </li>
                  </ul>
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* default */
                  .collapse-default__content {
                    overflow: hidden;
                    height: 0;
                  }
                  .collapse-default__content[aria-hidden=false] {
                    height: auto;
                  }

                  /* max-height */
                  .collapse-default__content {
                    ...
                    max-height: 100px;
                  }
                  .collapse-default__content[aria-hidden=false] {
                    overflow-y: auto;
                    ...
                  }
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  // # bind

                  UI.collapse.options({
                    selector: [String], // default : '[data-toggle="collapse"]'
                    duration: [Number] // default : 100
                  }).bind(); // required

                  //or

                  UI.collapse.bind('[data-toggle="collapse"]'); // required

                  //or

                  UI.collapse.bind(); // required

                  // # callback

                  UI.collapse.callback('before', function($button, $target){
                    console.log('callback before', $button, $target);
                  });

                  UI.collapse.callback('after', function($button, $target){
                    console.log('callback after', $button, $target);
                  });
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

      </section>
    </main>
  </div>

  <script src="../../js/guide.js"></script>
  <script src="../../js/global.js"></script>
  <script src="../../js/components.js"></script>
  <script>
    GUIDE.include.header();
    GUIDE.include.menu('C0302');
  </script>
</body>
</html>