<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI GUIDE</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../lib/prism/prism.okaidia.css">

  <script src="../../lib/jquery/jquery-3.5.1.min.js"></script>
  <script src="../../lib/lodash.min.js"></script>
  <script src="../../lib/moment/moment.min.js"></script>
  <script src="../../lib/anime.js/anime.min.js"></script>
  <script src="../../lib/gsap/gsap.min.js"></script>
  <script src="../../lib/prism/prism.js"></script>
</head>
<body>
  <div class="guide-container">
    <main class="guide-main">
      <section class="guide-main__content">
        <h2 class="guide-content__title">List</h2>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">List - Tab</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <div class="tab" role="tablist">
                <a href="#PANEL_01" class="tab__link" id="TAB_01" data-toggle="tab" role="tab" aria-controls="PANEL_01" aria-selected="true">MENU 1</a>
                <a href="#PANEL_02" class="tab__link" id="TAB_02" data-toggle="tab" role="tab" aria-controls="PANEL_02" aria-selected="false">MENU 2</a>
                <a href="#PANEL_03" class="tab__link" id="TAB_03" data-toggle="tab" role="tab" aria-controls="PANEL_03" aria-selected="false">MENU 3</a>
              </div>
              <div class="tab_content">
                <div class="tab__panel" id="PANEL_01" role="tabpanel" aria-labelledby="TAB_01">CONTENTS 1</div>
                <div class="tab__panel" id="PANEL_02" role="tabpanel" aria-labelledby="TAB_02">CONTENTS 2</div>
                <div class="tab__panel" id="PANEL_03" role="tabpanel" aria-labelledby="TAB_03">CONTENTS 3</div>
              </div>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="tab__button" data-lang="html">html</button>
              <button class="tab__button" data-lang="css">css</button>
              <button class="tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__code">
              <pre class="line-numbers" data-lang="html">
                <code class="language-html">
                  <div class="tab" role="tablist">
                    <a href="#PANEL_01" class="tab__link" id="TAB_01" data-toggle="tab" role="tab" aria-controls="PANEL_01" aria-selected="true">MENU 1</a>
                    <a href="#PANEL_02" class="tab__link" id="TAB_02" data-toggle="tab" role="tab" aria-controls="PANEL_02" aria-selected="false">MENU 2</a>
                    <a href="#PANEL_03" class="tab__link" id="TAB_03" data-toggle="tab" role="tab" aria-controls="PANEL_03" aria-selected="false">MENU 3</a>
                  </div>
                  <div class="tab_content">
                    <div class="tab__panel" id="PANEL_01" role="tabpanel" aria-labelledby="TAB_01">CONTENTS 1</div>
                    <div class="tab__panel" id="PANEL_02" role="tabpanel" aria-labelledby="TAB_02">CONTENTS 2</div>
                    <div class="tab__panel" id="PANEL_03" role="tabpanel" aria-labelledby="TAB_03">CONTENTS 3</div>
                  </div>
                </code>
              </pre>
              <pre class="line-numbers" data-lang="css">
                <code class="language-css">
                  /* style */
                </code>
              </pre>
              <pre class="line-numbers" data-lang="script">
                <code class="language-js">
                  // script
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

      </section>
    </main>
  </div>

  <script src="../../js/guide.js"></script>
  <script src="../../js/components.js"></script>
  <script>
    GUIDE.include.header();
    GUIDE.include.menu('C0304');
  </script>
</body>
</html>