@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}
#root.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-family: 'Noto Sans KR';
  font-size: 3.12vw;
  font-weight: 400;
  color: rgb(68, 68, 68);
}
#root h1 {
  margin: 0;
  padding: 3.12vw;
  font-weight: 700;
  font-size: inherit;
}
#root h2 {
  margin: 0;
  padding: 3.12vw;
  border-bottom: 0.15vw solid rgb(239, 239, 239);
  font-weight: 700;
  font-size: inherit;
}
#root h3 {
  margin: 0;
  padding: 3.12vw;
  border-bottom: 0.15vw solid rgb(239, 239, 239);
  font-weight: 700;
  font-size: inherit;
}
#root header {
  display: flex;
  flex-flow: wrap;
  border-bottom: 0.15vw solid rgb(239, 239, 239);
}
#root header menu {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#root header menu a {
  padding: 3.12vw;
  color: inherit;
}
#root main {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-flow: wrap;
}
#root aside {
  border-right: 0.15vw solid rgb(239, 239, 239);
}
#root aside menu {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}
#root aside menu a {
  flex: 1;
  padding: 3.12vw;
  border-bottom: 0.15vw solid rgb(239, 239, 239);
  color: inherit;
}
#root section {
  flex: 1;
  padding: 0 3.12vw 3.12vw;
}
#root article {}
#root table {
  margin-top: 3.12vw;
  width: 100%;
  border-collapse: collapse;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
#root caption {
  padding: 3.12vw;
  background-color: rgb(68, 68, 68);
  font-family: inherit;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
#root thead {}
#root thead th {
  padding: 3.12vw;
  border: 0.15vw solid rgb(68, 68, 68);
  background-color: rgb(239, 239, 239);
  font-weight: 700;
}
#root thead th:nth-child(1) {
  width: 9.37vw;
}
#root tbody th {
  padding: 3.12vw;
  border: 0.15vw solid rgb(68, 68, 68);
  background-color: rgb(239, 239, 239);
  font-weight: 700;
  text-align: left;
}
#root tbody td {
  padding: 3.12vw;
  border: 0.15vw solid rgb(68, 68, 68);
}
#root tbody td a {
  color: inherit;
}
#root footer {
  border-top: 0.15vw solid rgb(239, 239, 239);
}
#root footer address {
  padding: 3.12vw;
  font-style: normal;
  text-align: center;
}
#root footer address a {
  color: inherit;
}