/* COLLAPSE */
.collapse-default {
  overflow: hidden;
  border: 0.1rem solid rgb(150, 150, 150);
}
.collapse-default__item {
  position: relative;
}
.collapse-default__item::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.1rem;
  left: 0;
  width: 100%;
  border-top: 0.1rem solid rgb(150, 150, 150);
}
.collapse-default__button {
  position: relative;
  width: 100%;
  min-height: 4rem;
  padding: 0.5rem 1rem;
  background-color: rgb(240, 240, 240);
  text-align: left;
}
.collapse-default__button [class^=icon-] {
  position: absolute;
  top: 50%;
  right: 1rem;
  white-space: nowrap;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.collapse-default__button[aria-expanded=true] [class^=icon-] {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
}
.collapse-default__content {
  overflow: hidden;
  box-sizing: border-box;
  height: 0;
  /* max-height: 100px; */
}
.collapse-default__content[aria-hidden=false] {
  /* overflow-y: auto; */
  height: auto;
}