/* POPOVER */
[data-toggle=popover] {
  overflow: initial;
  position: relative;
}
.popover {
  position: absolute;
  z-index: 1;
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgb(150, 150, 150);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  line-height: initial;
  color: #000;
  white-space: nowrap;
}
.popover[aria-hidden=true] {
  display: none;
}
.popover[data-placement=top] {
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -100%);
}
.popover[data-placement=right] {
  top: 50%;
  right: -1rem;
  transform: translate(100%, -50%);
}
.popover[data-placement=bottom] {
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 100%);
}
.popover[data-placement=left] {
  top: 50%;
  left: -1rem;
  transform: translate(-100%, -50%);
}
.popover[data-placement=full] {
  bottom: -1rem;
  left: 0;
  width: 100%;
  transform: translate(0, 100%);
}

.popover::before,
.popover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.popover[data-placement=top]::before {
  bottom: 0;
  left: 50%;
  border-top: 6px solid rgb(150, 150, 150);
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  transform: translate(-50%, 100%);
}
.popover[data-placement=top]::after {
  bottom: 1px;
  left: 50%;
  border-top: 6px solid rgb(255, 255, 255);
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  transform: translate(-50%, 100%);
}

.popover[data-placement=right]::before {
  top: 50%;
  left: 0;
  border-top: 3px solid transparent;
  border-right: 6px solid rgb(150, 150, 150);
  border-bottom: 3px solid transparent;
  transform: translate(-100%, -50%);
}
.popover[data-placement=right]::after {
  top: 50%;
  left: 1px;
  border-top: 3px solid transparent;
  border-right: 6px solid rgb(255, 255, 255);
  border-bottom: 3px solid transparent;
  transform: translate(-100%, -50%);
}

.popover[data-placement=bottom]::before {
  top: 0;
  left: 50%;
  border-right: 3px solid transparent;
  border-bottom: 6px solid rgb(150, 150, 150);
  border-left: 3px solid transparent;
  transform: translate(-50%, -100%);
}
.popover[data-placement=bottom]::after {
  top: 1px;
  left: 50%;
  border-right: 3px solid transparent;
  border-bottom: 6px solid rgb(255, 255, 255);
  border-left: 3px solid transparent;
  transform: translate(-50%, -100%);
}

.popover[data-placement=left]::before {
  top: 50%;
  right: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 6px solid rgb(150, 150, 150);
  transform: translate(100%, -50%);
}
.popover[data-placement=left]::after {
  top: 50%;
  right: 1px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 6px solid rgb(255, 255, 255);
  transform: translate(100%, -50%);
}

.popover[data-placement=full]::before,
.popover[data-placement=full]::after {
  display: none;
}