@charset "utf-8";

/* DEFAULT */
@import 'base.css';
@import 'icon.css';

/* LIBRARY */
@import '../lib/fontawesome/css/all.min.css';
@import '../lib/prism/prism.okaidia.css';
@import '../lib/swiper.js/swiper-bundle.min.css';
@import '../lib/perfect-scrollbar/perfect-scrollbar.css';

/* COMPONENTS */
@import 'components.css';