.text-white{color: #fff;}

/* Brand Color */
.bg-cobaltblue {background-color: rgb(80, 112, 255) !important;}
.bg-grayblue {background-color: rgb(0, 189, 187) !important;}

/* Point Color */
.bg-coral {background-color: rgb(252, 114, 104) !important;}
.bg-mint {background-color: rgb(98, 170, 180) !important;}

/* Basic Color */
.bg-basic-01 {background-color: rgb(34, 34, 34) !important;}
.bg-basic-02 {background-color: rgb(85, 85, 85) !important;}
.bg-basic-03 {background-color: rgb(102, 102, 102) !important;}
.bg-basic-04 {background-color: rgb(187, 187, 187) !important;}
.bg-basic-05 {background-color: rgb(221, 221, 221) !important;}
.bg-basic-06 {background-color: rgb(240, 240, 240) !important;}
.bg-basic-07 {background-color: rgb(249, 249, 249) !important;}
.bg-basic-08 {background-color: rgb(255, 255, 255) !important;}

/* UI Color */
.bg-red {background-color: rgb(255, 70, 70) !important;}
.bg-blue {background-color: rgb(0, 153, 255) !important;}
.bg-orange {background-color: rgb(255, 107, 0) !important;}