@charset 'utf-8';

/* Reset */
html,
body {height:100%; margin:0; padding:0; background-color:#f9f9f9 !important; color:#000; font-family:'Roboto Medium', 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-size:13px; line-height:1.5;}
dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td {margin:0; padding:0;}
h1,
h2,
h3,
h4,
h5,
h6 {font-weight:600;}
table {width:100%; border-spacing:0; border-collapse:collapse;}
caption {font-size:0;}
img,
fieldset {border:0 none;}
button {cursor:pointer;}
em,
address {font-style:normal;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}


.guideWrap {position:relative; min-height:100%; background-color:#f9f9f9;}
nav,
.guideContent {overflow:hidden; position:absolute; top:0; bottom:0; height:100%;}
nav {overflow-y:auto; width:220px; background-color:#333; color:#fff;}
ol {padding-left:20px;}
ul {padding-left:15px;}
.guideContent {left:250px; right:0;}
.guideContent iframe {width:100%; min-height:100%; margin-bottom:50px; border:none; overflow-y:auto;}
nav a:link,
nav a:visited{color:#fff; text-decoration:none;}


body > h1 {color:#000; font-size:1.6rem;}
body > h2 {margin:10px 0 0; color:#000; font-size:1.3rem;}
body > h3 {margin-top:7px; color:#000; font-size:1.1rem;}
.view {position:relative; max-width:500px; margin-top:10px; padding:10px; border:1px dashed #999; background-color:#f9f9f9;}
.view .header {position:relative;}
iframe body {height:100%; padding:20px 20px 30px 0; background-color:#f9f9f9;}
.syntaxhighlighter code {font-size:12px !important;}
.syntaxhighlighter .toolbar {display:none !important;}


@media screen and (max-width:500px){
	.syntaxhighlighter {display:none;}
}