
/* 리스트 */

.listType li{border-bottom: 0.1rem solid #f0f0f0;}
.listType li a {display:block;position: relative;padding: 2rem 0;background:url(/guide/img/common/ico_next.png) no-repeat;background-size: 1.8rem;
    background-position: right center;font-size: 1.6rem;font-weight: 500;}

.listType2 li{border-bottom: 0.1rem solid #f0f0f0;}
.listType2 li a{display:block; position: relative;padding: 2rem 0;background:url(/guide/img/common/ico_next.png) no-repeat;background-size: 1.8rem;
    background-position: right center;font-size: 1.6rem;font-weight: 500;}

.listType2 li a strong{display:block; font-size: 1.6rem;font-weight: 500;}
.listType2 li a span:nth-child(2){display: block;font-size: 1.4rem;font-weight: 400;color: #666;}

.listType3 li{border-bottom: 0.1rem solid #f0f0f0; background: #fff; border-radius: 0.75rem; margin-bottom: 1rem;}
.listType3 li:last-child{margin-bottom: 0;}
.listType3 li a {display:block;position: relative;padding: 2rem 1.75rem;background:url(/guide/img/common/ico_next.png) no-repeat;background-size: 1.8rem;
    background-position: right center;font-size: 1.6rem;font-weight: 500;}
