/* STEP INDICATOR */
.step::after {content:'';display:block;clear:both;}
.step-text {float:left;font-size:2rem;line-height:2rem;letter-spacing:-0.1rem;}
.step-number {float:right;}
.step-number::after {content:'';display:block;clear:both;}
.step-number span {float:left;margin:0.6rem 0 0 0.9rem;width:0.5rem;height:0.5rem;border-radius:50%;background-color:rgb(187, 187, 187);color:transparent;}
.step-number strong {float:left;margin-left:0.9rem;width:1.8rem;height:1.8rem;border-radius:50%;background-color:rgb(252, 117, 107);font-size:1.2rem;text-align:center;line-height:1.8rem;color:rgb(255, 255, 255);}