html,body {font-size:10px;font-family:'Noto Sans KR';font-weight:400;}

/* txt-title */
.txt-title1{ display:block; font-size:1.7rem; font-weight:500;}
.txt-title2 { display:block; font-size:3rem; font-weight:700;}
.txt-title3 { display:block; font-size:2rem; font-weight:700;}
.txt-title4 { display:block; font-size:1.8rem; font-weight:700;}
.txt-title5 { display:block; font-size:3.3rem; line-height:41px;}
.txt-title6 { display:block; font-size:1.6rem; line-height:41px;}
.txt-title7 { display:block; font-size:1.6rem; line-height:21px;}
.txt-title8 { display:block; font-size:1.5rem; line-height:20px;}
.txt-title9 { display:block; font-size:1.4rem; line-height:20px;}
.txt-title10 { display:block; font-size:1.4rem; line-height:19px;}
.txt-title11 { display:block; font-size:1.3rem; line-height:19px;}

.txt-medium { font-weight:500; }
.txt-num { font-family:'Roboto';}